* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
}

body {
    background: #725671;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

/* Top bar starts here */
.top_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #9A7E99;
    text-align: center;
  }
  
.top_wrapper li {
    display: inline-block;
  }
  
.top_wrapper li div p {
    text-decoration: none;
    display: block;
    padding: 16px 20px;
    text-decoration: none;
  }
  
  li div:hover {
    background-color: #e0e0e0de;
    cursor: pointer;
    transition: 0.4s;
  }

  .home_btn, .games_btn, .contact_btn, .about_btn {
    font-weight: 400;
    font-size: 19px;
  }

/* Main starts here. */
.main {
    text-align: center;
}

.content {
    height: 700px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}