* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    user-select: none;
}

body {
    background: #121212;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

/* Top bar starts here */
.top_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #2d2d2d;
    text-align: center;
    color: #ffffff;
  }
  
.top_wrapper li {
    display: inline-block;
  }
  
.top_wrapper li div p {
    text-decoration: none;
    display: block;
    padding: 16px 20px;
    text-decoration: none;
  }
  
  li div:hover {
    background-color: #1e1e1e;
    cursor: pointer;
    transition: 0.4s;
  }

  .home_btn, .games_btn, .contact_btn, .about_btn {
    font-weight: 400;
    font-size: 19px;
  }

/* Main starts here. */
.main {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.welcome_txt {
  min-height: 1000px;
  height: -webkit-fill-available;
  width: auto;
  background: #1e1e1e;
  padding: 30px;
  font-size: 40px;
  color: #bb86fc;
}

.footer {
  text-align: center;
  position: sticky;
  margin-top: 20px;
  width: 1200px;
  margin: 20px auto;
}

.footer p {
  padding: 70px 0;
  background:#1e1e1e;
  color: #bb86fc;
  user-select: all;
}