* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    user-select: none;
}

body {
    background: #725671;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

.main {
    text-align: center;
    padding: 300px;
}